1. Find the data type of a if a=9

In [3]:
a=9 
print(type(a))

<class 'int'>

2. Find the data type of a if a=9

In [4]:
a=9
print(type(a))

<class 'int'>

3. Find the data type of a if a='9.'

In [5]:
a='9.'
print(type(a))

<class 'str'>

4. Find the data type of a if a=(9)

In [9]:
a=(9)
print(type(a))
#one element tuple error can be rectified by trailing comma

<class 'int'>

In [12]:
a=(9,)
print(type(a))

<class 'tuple'>

5. Find the data type of a if a=False

In [11]:
a= False
print(type(a))

<class 'bool'>

6. Find the data type of a if a= [1,2,3]

In [13]:
a=[1,2,3]
print(type(a))

<class 'list'>

7. Find the data type of a if a= (1,2,3)

In [14]:
a=(1,2,3)
print(type(a))

<class 'tuple'>

8. Find the data type of a if a= {'key': 9}

In [17]:
a= {'key': 9}
print(type(a))

<class 'dict'>

9. Find the data type of a if a=1 + 9j

In [18]:
a=1 + 9j
print(type(a))

<class 'complex'>

10. Set a=1 and b=2. What data type is a/b?

In [21]:
a=1
b=2
#s=a/b
print(type(a/b))

<class 'float'>

11. Create a dictionary numbers = {'one':1, 'two':2, 'three':3 }. Pull out the number '2' by calling the key 'two'

In [28]:
new_dict= {'one':1, 'two':2, 'three':3 }
print(new_dict['two'])

2

12. Create a tuple with the numbers 8,9 and 10 ?

In [34]:
s=(8,9,10)
print(type(s))
print(s[0])
print(s[1])
print(s[2])
print(s[0:2])
print(s[0:3])
print(s[1:3])

<class 'tuple'>
8
9
10
(8, 9)
(8, 9, 10)
(9, 10)

13. Run the following lines of code and explain the error in your own words.Then rewrite the lines of code to run error free:
d={one:1,two:2,three:3} d[one]

In [37]:
d={one:1,two:2,three:3} 
d[one]

NameError: name 'one' is not defined

The syntax is wrong the keys in the dictionary must be enclosed in single inverted commas and also while calling the element it must be enclosed in single inverted commas. To, solve the error the following changes must be made.

In [40]:
d={'one':1,'two':2,'three':3} 
d['one']

1

14. Run the following lines of code and explain the error in your own words.Then rewrite the lines of code to run error free: f= false not f

In [49]:
f= false not f

SyntaxError: invalid syntax (<ipython-input-49-0786a17a3118>, line 1)

invalid syntax as a variable cannot have values with spaces and the variable must be a data type. The error can be rectified by changing the variable value to a string.

In [51]:
f="false not f"
print(f)
print(type(f))

false not f
<class 'str'>

15. Run the following lines of code and explain the error in your own words.Then rewrite the lines of code to run error free: lst=[1,3,5] lst[3]

In [52]:
lst=[1,3,5] 
lst[3]

IndexError: list index out of range

The list is out of range which means the total number of items in the list are less than the index range given. The indexing in python starts from 0 so according to that 0 index is 1, 1 index is 3 and 2 index is 5. To make the code error free we need to make the following changes

In [56]:
lst=[1,3,5,2] 
lst[3]

2

In [64]:
lst=[1,3,5]
print(lst[0:2])
print(lst[0:1])

[1, 3]
[1]